

<form enctype="multipart/form-data" action="/upload" method="post">
  <input type="text" name="body" placeholder="Course">
  <input type="file" name="upload">
  <input type="submit" value="Upload File">
</form>

<%= add %>